/* Style Sheet for www.cbdcentral.com */


/* NAV BAR*/
.navbar-brand {
  font-family: 'Cinzel';
  font-weight: 700;
}

.navText {
  font-family: 'Cinzel';
  font-weight: 400;
}

/* CBD CENTRAL THEME */
.CBDCentralFont {
  font-family: 'Cinzel';
}

.CBDMainTheme {
  background-color: #bfdfd7;
}

/* PAGE JUMBOTRON ITEMS*/
.pageTitleText {
  font-weight: 700;
  text-align: left;
  padding-top: 10;
  padding-bottom: 10;
}

.pageTitleSubText {
  font-weight: 400;
  text-align: left;
}
