/* Style Sheet for www.cbdcentral.com */


/* NAV BAR*/
.navbar-brand {
  font-family: 'Cinzel';
  font-weight: 700;
}

.navText {
  font-family: 'Cinzel';
  font-weight: 400;
}

/* CBD CENTRAL THEME */
.CBDCentralFont {
  font-family: 'Cinzel';
}

.CBDMainTheme {
  background-color: #bfdfd7;
}

/* PAGE JUMBOTRON ITEMS*/
.pageTitleText {
  font-weight: 700;
  text-align: left;
  padding-top: 10;
  padding-bottom: 10;
  margin-left: 5%;
}

.pageTitleSubText {
  font-weight: 400;
  text-align: left;
  margin-left: 5%;
}

/* HOME PAGE */
.homeWWD {
  text-align: center;
  font-weight: 700;
}

.homeWWDIcon {
  margin-top: 10%;
  color: white;
}

.makegreen {
  background-color: #bfdfd7;
}
