body {
  padding-top: 70px;
}

.jumbotron {
  background-color: #ecf0f1;
  color: #c9491a;
}

.jumbo-subtext {
  color: #0e3154;
}

.navbar-inverse {
  background: #c9491a;
  border-color: #c9491a;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color: #0e3154;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #0e3154;
}
